{% extends "base.html" %}

{% block content %}
	{% for order in orders%}
	<fieldset class="order">
        <legend>#{{order.id}} for 
        	<span class="badge badge-light">
        		{{order.table.number}}
        	</span> table</legend>

         <div class="list-group">
         	{% for item in order.items.all %}
				<span 
				class="list-group-item list-group-item-action"
				>
				{{item.menu_item.title}} - [{{item.get_status_display}}]
				</span>

			{% endfor %}   	  
		</div> 
        
		     
    </fieldset>
	{% endfor %}
	
{% endblock %}
