{% extends "base.html"  %}

{% block title %}
users
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header">
			Забыли пароль?			
		</div>
		<div class="card-body">
			<form action="." method="post">
				{{form.as_p}}
				<p><input type="submit" value="Send me link"></p>
				{% csrf_token %}
			</form>
		</div>
		<div class="card-footer">						
			We will send you an link to create new password.
			(On email {{request.user.get_starred_email}})
		</div>
	</div>		
{% endblock %}