{% extends "base.html"  %}

{% block title %}
cook				
{% endblock %}

{% block content %}
<table class="table-striped">
	<thead>
		<th>Название</th>
		<th>Предпочтение</th>
		<th>Количество</th>
		<th>Справка</th>
		<th>Отдать</th>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td>{{item.menu_item.title}}</td>
			<td>{{item.menu_item.notes}}</td>
			<td>{{item.quantity}}</td>
			<td><button><a href="/cooks/recipe/{{item.menu_item.dish.recipe}}">Рецепт</a></button></td>
			<td><button><a href="">Готов</a></button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}      