{% extends "base.html" %}

{% block content %}
	<h3>Заказов для стола #{{table.number}}: <div class="badge">{{orders.all.count}}</div></h3>
	{% for order in orders.all %}
	<div class="order card my-3 p-1">
		<div class="card-header">
			<div class="row">
				<div class="col-md-9">
					Заказ #{{order.id}}: <div class="badge">{{order.items.all.count}}</div> блюд		
				</div>

				<div class="btn-group col-md-3">					
					<form action="/orders/{{order.id}}/pay" method="get">						
						<input type="submit" value="pay" class="btn btn-success" >	    
					</form>										
					<form action="/orders/{{order.id}}/cook" method="post">
						{% csrf_token %}
						<input type="submit" value="cook" class="btn btn-warning" >	    
					</form>							
					<form action="/orders/{{order.id}}/remove" method="post">
						{% csrf_token %}
						<input type="submit" value="&times;" class="btn btn-danger" >	    
					</form>				
				</div>				
			</div>							
		</div>
		<div class="card-body">
			<ul class="list-group">
			 	{% for item in order.items.all %}
			 	<li class="list-group-item">
			 		<div class="row">
			 			<div class="col-md-10">
				 			[{{item.get_status_display}}]-{{item.dish.title}} x <b>{{item.quantity}}</b> [<i>{{item.price}}</i>$]
				 		</div>
				 		<div class="col-md-2">
				 			{% if item.status == '4' %}
				 				<form action="/orders/items/{{item.id}}/deliver/" method="post">
									{% csrf_token %}
									<input type="submit" value="☑" class="btn btn-success" >	    
								</form>
							{% elif item.status == '5' %}
								☑
				 			{% endif %}
				 		</div>
			 		</div>			 					 				            
		        </li>
		        {% endfor %}    	 
			</ul>        	
		</div>
  		<div class="card-footer">
	  		<details>
		    	<summary>Добавить новое блюдо в заказ</summary>
		    	<form action="/orders/{{order.id}}" 
		    		method="post" class="card p-3" 
		    	>		
					{% csrf_token %}
					<div class="form-group">
						{{ item_form.as_p }}	
					</div>
					
					<input type="submit" value="save" class="form-control bg-primary text-white" >	    	
				</form>
		    </details>
  		</div>				 	           	            
	</div>
	{% endfor %}

	<form action="/orders/table/{{table.id}}" 
		method="post" class="mb-3" 
	>		
		{% csrf_token %}						      
		{{ order_form.as_p }}
		<input type="submit" class="form-control"  value="+ Добавить заказ">
	</form>
{% endblock %}

